# Ignore compiled code
*.[oa]
# Ignore backup files
*~
*.layout
# Ignore the dll on windows
*.dll
.objs
*.depend
hypermaze.exe
# don't backup the music
irrlicht/music
doc/doxygen/*/
.directory
build
configure
Makefile
compile
install-sh
depcomp
aclocal.m4
autom4te.cache
Makefile.in
missing
